<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nazwa %></title>
</head>
<body>
    <div style="display: flex; justify-content: center;">
    <div style="width: 340px; border: 3px solid grey; border-radius: 10px;" >
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/main.ejs') %>
    <%- include('./partials/data.ejs')  %>
    <%- include('./partials/footer.ejs') %>
    </div>
    </div>


</body>
</html>